<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>ProgramEM</title>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Google Fonts - font inter all-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="/home/css/home.css">
</head>

<body>
    <!--INICIO NAV-->
    <div class="row">
        <nav class="navbar fixed-top" style="background-color: #ebebeb">
            <div class="col">
                <img style="width: 300px;" class="logoprogramem" src="/home/img/logo.png">
            </div>
            <div class="col-">
                <a href="/"><button type="button" class="botao btn btn-light">Home</button></a>
            </div>
            <div class="col-">
                <a href="/sobre"><button type="button" class="botao btn btn-light">Sobre</button></a>
            </div>
            <div class="col-">
                <a href="/inscricao"><button type="button" class="botao btn btn-light">Inscrição</button></a>
            </div>
            <div class="col-">
                <a href="/contato"><button type="button" class="botao btn btn-light">Contato</button></a>
            </div>
            <div class="col-">
                <a href="/areaDoAluno"><button type="button" class="botao btn btn-light" id="aluno">Área do aluno</button></a>
            </div>
        </nav>
        </nav>
    </div>
    <!--FIM NAV-->
    <!--INICIO CARROSSEL-->
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/home/img/programemSlide.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <a href="/sobre"><button type="button" class="botaoslide">Saiba mais</button></a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/home/img/slide2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="titulocarrossel">E vamos de {Reprograma}</h5>
                    <p class="textocarrossel">A {reprograma} é uma iniciativa de impacto social <br>que foca em ensinar
                        programação para
                        mulheres cis e trans que<br> não têm recursos e/ou oportunidades para aprender a programar.</p>
                    <a href="https://reprograma.com.br/"><button
                            style="margin-bottom: 10px; background-color: blueviolet;" type="button"
                            class="botaoslide btn btn-light">Saiba mais</button></a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/home/img/generation.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p class="textocarrossel">Generation-Programa prático de 3 meses  que incentiva <br>
                        o início da carreira como Desenvolvedor.</p>
                    <a href="https://brazil.generation.org/"><button
                            style="margin-bottom: 10px; background-color: rgb(240, 68, 37);" type="button"
                            class="botaoslide btn btn-light">Saiba mais</button></a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only btn btn-light">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only btn btn-light">Next</span>
        </a>
    </div>
    </div>
    <!--FIM CARROSSEL-->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-">
                <p class="titulohome">Aprenda a programar sem sair de casa</p>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-">
                <h4 style="text-align:justify;" class="textochome">
                    <p>Você não precisa ter <b>nenhuma</b> experiência prévia em programação,
                        apenas ser estudante<br> do 3º EM de escola pública ou ter se formado em escola <b>pública</b>
                        em 2020!</p><br>
                    <p>Já que estamos <b>sempre em evolução,</b> vamos também pedir que vocês nos contem tudo o<br>
                        que está funcionando ou não no nosso curso e nos ajudem a melhorar cada vez mais!</p>
                </h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-">
                <p style="text-align: center;" class="titulohome">Vamos te ajudar a se preparar para<br>o mercado de
                    trabalho!</p>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-">
                <p><a href="/inscricao"><button type="button" class="botaotexto btn btn-light">INSCREVA-SE AGORA</button></a></p>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>