/*PADRÃO TODOS HTML*/
body{
    background-color: #ffffff;
    color: #045a68;
}
/*BOTÃO*/
.botao{
    font-family: inter;
    font-weight: 800;
    background-color: #ebebeb;
    border: none;
    color: #045a68;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}
.botao:hover{
    background-color: rgba(0, 0, 0, 0);
    color: #045a68;
    box-shadow: inset 0 0 0 3px #045a68;
}
#aluno:hover{
    background-color: rgba(0, 0, 0, 0);
    color: red;
    box-shadow: inset 0 0 0 3px red;
}
/*FIM PADRÃO TODOS HTML*/
/*COMEÇO CONTEUDO*/
.topcont{
    margin-top: 100px;
}
.titulohome{
    padding-top: 22px;
    color: #045a68;
    font-size: 45px;
    font-family: inter;
    font-weight: 900;
}
.textohome{
    margin-top: 20px;
    color: black;
    font-size: 25px;
    font-family: inter;
    font-weight: 600;
}
.textochome{
    color: black;
    font-weight: 400;
    /*font-size: 30px;*/
    font-family: inter;
}
#tituloform{
    margin-top: 20px;
	color: #045a68;
    font-size: 40px;
    font-family: inter;
    font-weight: 900;
}
.conteudoform{
    color: #045a68;
    font-size: 20px;
    font-family: inter;
    font-weight: 900;
}
/*BOTÕES*/
/*BOTÃO slide*/
.botaoslide{
    font-family: inter;
    font-weight: 800;
    border: none;
    color: #ffffff;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}
.botaoslide{
    background-color: #045a68;
}
.botaoslide:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 44px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all 2s ease;
}
.botaoslide:hover:before{
    width: 100%;
}
.botaotexto{
    font-family: inter;
    font-weight: 800;
    border: none;
    color: #ffffff;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}
.botaotexto{
    background-color: #045a68;
}
.botaotexto:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 44px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all 2s ease;
}
.botaotexto:hover:before{
    width: 100%;
}
